.categories {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 30px;
    h1 {
      font-size: 32px;
      font-weight: 600;
    }
    button {
      width: 130px;
      justify-content: center;
      align-items: center;
      border: none !important;
      svg {
        margin-right: 10px;
      }
    }
    button {
      background: #231f33 !important;
      transition: 300ms;
    }
    button:hover {
      background: rgba(249, 165, 26, 1) !important;
      color: #fff;
    }
  }
  .content {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    min-height: 450px;
    overflow: auto;
  }
}
