* {
  font-family: "Cairo", sans-serif !important;
  font-optical-sizing: auto;
  box-sizing: border-box;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.add-page .form {
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  .controls {
    width: 100%;
    grid-column: 1;
    button:last-child {
      background: #bebebe !important;
      margin-right: 10px;
    }
  }
  .form-switch {
    margin-top: 25px;
  }
  .form-group {
    label {
      font-size: 15px;
      span {
        color: red;
      }
    }
    input {
      margin-bottom: 5px;
    }
  }
}
.pageContent {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 30px;
    h1 {
      font-size: 32px;
      font-weight: 600;
    }
    button {
      width: 130px;
      justify-content: center;
      align-items: center;
      border: none !important;
      svg {
        margin-right: 10px;
      }
    }
    button {
      background: #231f33 !important;
      transition: 300ms;
    }
    button:hover {
      background: rgba(249, 165, 26, 1) !important;
      color: #fff;
    }
  }
  .content {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    min-height: 450px;
    overflow: auto;
  }
}
.MuiPaginationItem-previousNext {
  transform: rotate(180deg);
}
.MuiPaginationItem-page {
  opacity: 0.7;
}
.Mui-selected {
  opacity: 1;
}
.vendor {
  position: relative;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  .offername {
    position: absolute;
    top: 20px;
    z-index: 0;
    background-color: rgba(224, 149, 23, 1);
    border-radius: 5px;
    color: #fff;
    padding: 2px 15px;
    font-size: 12px;
  }
  .name-status {
    justify-content: space-between;
    margin-bottom: 10px;
    span {
      display: inline-block;
      width: 70px;
      background-color: #1a1a1a;
      text-align: center;
      border-radius: 5px;
      padding: 5px 10px;
      color: #fff;
      font-size: 12px;
    }
  }
  .controls {
    margin: 10px 0;
    justify-content: space-between;
    div {
    }
  }
  .cover {
    margin-bottom: 10px;
    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  .content {
    padding: 0 10px 10px 10px;
  }
  .cost-rate {
    justify-content: space-between;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
}
.slider {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
  span {
    font-size: 18px;
    margin: 0 5px;
  }
  .image {
    width: 50%;
  }
  .controls {
    display: flex;
    gap: 10px;
  }
}
.form-group {
  position: relative;
  i {
    position: absolute;
    left: 10px;
    top: 55%;
    cursor: pointer;
  }
}
.model-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #1a1a1a38;
  z-index: 366;
  display: none;
  overflow: auto;
  padding: 50px 0;
}
.box {
  position: relative;
  width: 500px;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 100px;
  .head {
    background-color: #f7f7f7;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px 10px;
    h2 {
      font-size: 23px;
    }
  }
  form {
    margin: 20px 0;
    padding: 0 10px;
    input {
      margin-bottom: 5px !important;
    }
    .controls {
      button:last-child {
        background: #bebebe !important;
        margin-right: 10px;
      }
    }
  }
}
.table {
  overflow: auto;
  min-width: 100%;
  max-width: 100%;
  table {
    min-width: 100%;
    max-width: 100%;
    table-layout: fixed;
    th {
      white-space: nowrap;
    }
    // min-height: 320px;
    thead {
      th {
        color: rgba(181, 183, 192, 1);
        padding: 10px 10px 30px;
        text-align: start;
      }
    }
    tbody {
      tr {
        td {
          // text-align: center;
          padding: 15px 10px;
          font-size: 15px;
          font-weight: bold;
          .controls {
            display: flex;
            justify-content: center;
            gap: 5px;
          }
        }
        .tdImage {
          display: flex;
          align-items: center;
          // justify-content: center;
          img {
            width: 45px;
            height: 45px;
            border-radius: 5px;
            margin-left: 15px;
          }
        }
        .otherTdImage {
          img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
          }
        }
        .tdImage:first-child {
          justify-content: flex-start;
        }
      }
    }
  }
}

.delete-box {
  padding: 25px;
  h2 {
    margin-bottom: 25px;
  }
  .controls {
    button:first-child {
      background: red !important;
    }
    button:last-child {
      background: #bebebe !important;
      margin-right: 10px;
    }
  }
}
button:focus {
  outline: none;
}
.loadingSpinner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #f7f7f74f;
  border-radius: 20px;
}
.box .loadingSpinner {
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
label {
  font-family: Bahij TheSansArabic;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: right;
  margin-bottom: 5px;
  color: rgba(45, 55, 72, 1);
}
label span:last-child {
  font-weight: bold;
}
.MuiFormControlLabel-root {
  margin: 0 0px 10px !important;
  font-weight: bold;
}
input,
select {
  border: 1px solid rgba(226, 232, 240, 1);
  border-radius: 8px;
  padding: 10px 10px;
  min-width: 300px;
  font-size: 14px;
  transition: 300ms;
}
input::placeholder {
  color: #bebebe; /* or any color you want */
  opacity: 1; /* optional: some browsers make it transparent */
}
input:focus,
select:focus {
  outline: none;
  border-color: rgba(249, 165, 26, 1);
}
button {
  background: linear-gradient(
    180deg,
    rgba(249, 165, 26, 1) 0%,
    rgba(249, 165, 26, 1) 100%
  );
  color: #fff;
}
a {
  font-weight: 500;
  color: rgba(249, 165, 26, 1);
  text-decoration: inherit;
}
a:hover {
  color: rgba(249, 165, 26, 1);
}
main {
  position: relative;
  padding-bottom: 20px;
  margin: 90px 270px 0px 20px;
}
body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f7fafc;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 250px);
  height: 70px;
  padding: 0 30px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .search {
  position: relative;
}
.navbar .search svg {
  position: absolute;
  top: 10px;
  right: 15px;
}
.navbar .search input {
  padding: 7px 50px 7px 10px;
  width: 320px;
}
.navbar .admin-controls {
  position: relative;
  display: flex;
  align-items: center;
}
.navbar .user-card {
  display: flex;
}
.navbar .user-card img {
  width: 45px;
  margin-right: 15px;
}
.navbar .user-card .info {
  position: relative;
  text-align: end;
  text-transform: capitalize;
}
.navbar .user-card .info svg {
  position: absolute;
  right: -30px;
  top: 2px;
  cursor: pointer;
}
.navbar .user-card .info h3 {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 0;
}
.navbar .user-card .info span {
  display: block;
  font-size: 12px;
  /* margin-top: -2px; */
}
.navbar .admin-controls .notification-btn {
  margin-left: 50px;
  width: 40px;
  height: 40px;
  background: rgba(62, 170, 224, 0.2);
  border-radius: 5px;
  cursor: pointer;
}
.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  background-color: #fff;
  transition: 300ms;
}

.sidebar .logo {
  height: 110px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  border-image-source: linear-gradient(
    90deg,
    rgba(224, 225, 226, 0) 0%,
    #e0e1e2 49.52%,
    rgba(224, 225, 226, 0.15625) 99.04%
  );
  border-image-slice: 1;
}
.sidebar .logo img {
  width: 75%;
  object-fit: contain;
}
.pages {
  margin-top: 10px;
}
.pages a {
  position: relative;
  display: block;
  padding: 5px 15px 7px;
  box-sizing: border-box;
}
.MuiBox-root {
  padding: 0 !important;
}
.pages .parent {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  color: rgba(142, 146, 188, 1);
  transition: 200ms;
}
a:hover .parent {
  background-color: #f7fafc;
}

.pages .parent img {
  width: 31px;
}
.pages .parent span {
  margin-right: 12px;
  display: inline-block;
  font-size: 16px;
}
a .icon-active {
  display: none;
}
a.active .parent {
  background: linear-gradient(
    180deg,
    rgb(255, 182, 64) 0%,
    rgba(249, 165, 26, 1) 100%
  );
  color: #fff !important;
  box-shadow: 0px 20px 50px 0px rgba(55, 69, 87, 0.1);
}
a.active::after {
  content: "";
  position: absolute;
  left: -5px;
  top: 12px;
  width: 4px;
  height: calc(100% - 20px);
  background: linear-gradient(
    180deg,
    rgba(249, 165, 26, 1) 0%,
    rgba(249, 165, 26, 1) 100%
  );
  display: block;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
}
a.active .icon {
  display: none;
}
a.active .icon-active {
  display: block;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar .logo img {
  max-width: 100%;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: rgba(249, 165, 26, 1);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.MuiSwitch-track {
  background-color: rgba(249, 165, 26, 1) !important;
}
.navbar .bars {
  position: absolute;
  right: -10px;
  top: -20px;
  display: none;
  cursor: pointer;
}
.sidebar .bars {
  display: none;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: rgba(249, 165, 26, 1);
  }
  button {
    background-color: #f9f9f9;
  }
}
@media (max-width: 992px) {
  .sidebar {
    right: -300px !important;
  }
  main {
    margin: 90px 20px 0px 20px !important;
  }
  .navbar {
    width: calc(100% - 0px);
    .bars {
      display: block;
    }
  }
  .sidebar .bars {
    display: block;
  }
  .openSidebar {
    right: 0 !important;
    z-index: 555;
    box-shadow: 0px 20px 50px 0px rgba(55, 69, 87, 0.1);
  }
}
